#overall{
    background-color:#f8f9fa;
    height: 1000px;
}
#exampleInputEmail1,#exampleInputPassword1{
    width : 400px; 
    height: 50px;  
    margin-top:30px;

}
#login{
    border: 180px;
    width: 500px;
    height: 500px;
    padding: 50px;
    margin:10px;
    background-color: white;
}
#text{
    margin-top:40px;
}